@{
    ViewBag.Title = "Home";
}
<div class="container extra-m-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_prepaid_new.png" alt="Recharge" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Recharge</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_dth_new.png" alt="DTH" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>DTH</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_electricity_new.png" alt="Electricity" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Electricity</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/no-card-icon.png" alt="Credit Card" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Credit Card</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_prepaid_new.png" alt="Postpaid" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Postpaid</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_landline_new.png" alt="LandLine" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>LandLine</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_broadband.png" alt="Broadband" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Broadband</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_gas_new.png" alt="Gas" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Gas</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_water_new.png" alt="Water" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Water</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_datacrd_new.png" alt="Datacard" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Datacard</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_datacrd_new.png" alt="Insurance" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Insurance</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/Content/icon/icon_datacrd_new.png" alt="Municipal Tax" class="icon_img_size" />
                            </div>
                            <h4 id="thumbnail-label"><a>Municipal Tax</a></h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>